Clarifying "updates" relationships

We note that both the header and the Abstract list the RFCs that
this document updates (i.e., RFCs 7991, 7992, 7993, 7994, 7995, 7996, 7997,
8729, and 9720). However, the last paragraph of the Introduction says that
this document updates RFCs 7841, 8729, and 8730. Note that RFCs 7841 and 8730
are not included in the header's update list and the other documents in the
header's update list are not mentioned in this paragraph. (RFCs 7841, 8729,
and 8730 were updated by RFC 9280.)

Please review and let us know if any changes are needed.

Current:
   This document updates [RFC7841] by defining boilerplate text for the
   Editorial Stream.  This document updates [RFC8729] by replacing the
   RFC Editor role with the RSWG, RSAB, and RSCE.  This document updates
   [RFC8730] by removing the dependency on certain policies specified by
   the IAB and RFC Series Editor (RSE).

The omission of 7841 and 8730 from the boilerplate and Abstract was a mistake on our part. These updates are reflected in our new text.

thanks for fixing, paul!

Addressed in Paul's PR